apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "69.2.4"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      adminPassword: mischa
      ingress:
        enabled: true

        ingressClassName: "traefik"

        annotations: {}

        labels: {}

        ## Hosts must be provided if Ingress is enabled.
        ##
        hosts: []
          - grs.iammanjubhandari.online

        ## Paths to use for ingress rules - one path should match the thanosruler.routePrefix
        ##
        paths: []
        # - /

        ## For Kubernetes >= 1.18 you should specify the pathType (determines how Ingress paths should be matched)
        ## See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#better-path-matching-with-path-types
        # pathType: ImplementationSpecific

        ## TLS configuration for ThanosRuler Ingress
        ## Secret must be manually created in the namespace
        ##
        tls: []
        # - secretName: thanosruler-general-tls
        #   hosts:
        #   - thanosruler.example.com